/* 
    Document   : xw_progressbar.css
    Created on : 10.12.2012, 15:36:56
    Author     : xwolf
    Description:
        CSS stylesheet for wordpress plugin xwolf Progress Bar
*/

 .xw-progressbar {
        width: 100%; 
        margin: 0; padding: 3px;
        text-align: right; 
        border: 1px solid rgba(0,0,0,0.1);
        font-size: 0.9em;
         background: rgba(0,0,0,0.05);
 } 
 
 .xw-progressbar h3 {    
     font-family: Arial,Times New Roman;
    font-size: 1em;
    font-weight: bold;
    margin: 0px;     
    text-align: left;
 }

 .xw-progressbar progress { width: 100%; line-height: 0.9em; }
 .xw-progressbar div { width: 100%;  } 
 .xw-progressbar div.gesamt{ 
     padding-top: 10px;
     background: rgba(0,0,0,0.1);
 }
 .xw-progressbar progress { background-color: rgba(255,255,255,0.3); height: 20px; border-width: 1px;}
 .xw-progressbar progress::-webkit-progress-bar-value, 
 .xw-progressbar progress::-webkit-progress-value, 
 .xw-progressbar progress ::-moz-progress-bar {
        background-color:#2d7dc5;     
 }                        
 .xw-progressbar div span {  
    margin-right: 0px;
    font-size: 0.9em;
    font-style: italic;
    border: none;
 }